body {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section#playlist{
  width: 800px;
  height: 400px;
  box-shadow: 30px 30px 30px rgba(0,0,0,0.5);
 }

td{
  height: 200px;
  width: 200px;

}

.fotoscapa{
  width: 200px;
  height: 200px;
  margin: -2px;
}


