<nav class="navbar navbar-expand-sm navbar-light">
  <span class="navbar-brand" href="#">
    <img src="favicon.ico" width="30" height="30" alt=""/>
    Spotify
  </span>


  <div class="container-fluid">
    <ul class="navbar-nav">
      <!--HOME-->
      <li class="nav-item">
        <a routerLink="HOME/" class="nav-link" routerLinkActive="active">HOME</a>
      </li>
      <!--FAQ-->
      <li class="nav-item">
        <a routerLink="FAQ/" class="nav-link" routerLinkActive="active">FAQ</a>
      </li>
      <!--PLAYLIST-->
      <li class="nav-item">
        <a routerLink="PLAYLIST/" class="nav-link" routerLinkActive="active">PLAYLIST</a>
      </li>
    </ul>

    <button type="button" routerLink="logar/" class="btn btn-success" style="border-radius: 40px;">Criar ou Entrar na conta</button>

  </div>
</nav>
