
body {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section{
  width: 800px;
  height: 400px;
  background: black;

}

ul {
  float: right;
  list-style-type: none;
  height: 400px;
  overflow: auto;
  color: black
  }

  .imagem{

    margin-left: 50px;
  }
